@charset "UTF-8";

:root {
    --cor1: #261A1A;
    --cor2: #642E44;
    --cor3: #A65D7C;
    --cor4: #444243;
    --cor5: #F2DFDF;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    justify-content: space-between;
}
.grupo {
    border: 0;
    margin: auto;
}
section {
    display: block;
    text-align: center;
}
section li {
    display: inline-block;
}
article {
    display: block;
    width: 50%;
    margin: 20px;
    font-size: 1.5em;
}

input, textarea {
    border-radius: 5px;
    font-size: 1em;
}
input:focus, textarea:focus{
    background-color: var(--cor5);
}
.botao {
    border-radius: 5px;
    font-size: 1em;
    background-color: var(--cor5);
    padding: 2px;
}
.botao:hover {
    background-color: var(--cor2);
    color: white;
    transform: translate(-1px, -1px);
    transition: .3s;
}
section#redes img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;
}
section#redes img:hover {
    border: 2px solid rgba(255, 255, 255, 0.603);
    transform: translate(-2px, -2px);
    transition: transform .2s;
}
main {
    height: 700px;
}