@charset "UTF-8";

:root {
    --cor1: #261A1A;
    --cor2: #642E44;
    --cor3: #A65D7C;
    --cor4: #444243;
    --cor5: #F2DFDF;
}

@media screen and (min-width: 769px){
    header {
        height: 100px;
    }
    header > h1{
        display: block;
        text-align: left;
        transform: translateY(25px);
        padding: 0px 10px;
    }
    span#burguer {
        display: none;
    }
    menu {
        display: block;
        text-align: right;
        transform: translateY(-16px);
        padding: 0px 10px;
    }
    menu li {
        display: inline-block; 
        padding: 0px 10px; 
    }
}