@charset "UTF-8";

:root {
    --cor1: #261A1A;
    --cor2: #642E44;
    --cor3: #A65D7C;
    --cor4: #444243;
    --cor5: #F2DFDF;
}

@media screen and (min-width: 768px){
    body{
        transition: 1s;
    }
    header{
        background: var(--cor5) url(imagens/back_phone.jpg) top left;
        background-size: cover;
        background-attachment: fixed;
        margin: auto;
        transition: 1s;
        justify-content: space-between;
    }
    #header {
        width: 700px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transform: translate(0%);
    }
    span#burguer {
        display: none;
    }
    #titulo {
        width: 40vw;
        display: flex;
        transform: translateX(30%);
    } 
    #opcoes {
        display: flex;
        align-items: center;
    }
    menu {
        background-color: transparent;
        display: block;
        transform: translate(100%, -220%);
        margin: 0px;
        height: 50px;
        width: 48vw;
    }
    menu li {
        display: inline-block; 
        padding: 0px 10px; 
    }
    menu ul {
        height: 50px;
    }
    menu a:hover {
        transform: translate(-2px, -2px);
        transition: .3s;
    }
    main {
        background-color: white;
        width: 70%;
    }
}