@charset "UTF-8";

:root {
    --cor1: #261A1A;
    --cor2: #642E44;
    --cor3: #A65D7C;
    --cor4: #444243;
    --cor5: #F2DFDF;
}

@media screen and (min-width: 769px){
    body{
        background: var(--cor5) url(imagens/back_phone.jpg) top left;
        background-size: cover;
        transition: 1s;
    }
    header{
        width: 600px;
        margin: auto;
        transition: 1s;
    }
    span#burguer {
        display: none;
    }
    menu {
        background-color: transparent;
        display: block;
        text-align: right;
        transform: translateY(-69px);
        padding: 0px 10px;
        margin: 0px;
    }
    menu li {
        display: inline-block; 
        padding: 0px 10px; 
    }
}