@charset "UTF-8";

:root {
    --cor1: #261A1A;
    --cor2: #642E44;
    --cor3: #A65D7C;
    --cor4: #444243;
    --cor5: #F2DFDF;
    --cor6: #642e449a;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background: var(--cor5) url(imagens/back_phone.jpg) top left;
    background-size: cover;
    background-attachment: fixed;
}
header {
    background-color: transparent;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
    height: 90vh;
    padding: 10px;
}
#header {
    background-color: var(--cor6);
    padding: 10px;
    display: flex;
    align-items: center;
    transform: translate(10%);
    justify-content: space-between;
    width: 80vw;
}
#titulo {
    height: 100%;
    max-width: 200px;
    color: white;
    display: flex;
}
#titulo a {
    color: white;
    text-decoration: none;
}
#titulo a:hover {
    color: var(--cor5);
    
}
#opcoes {
    color: white;
    display: flex;
    align-items: center;
}
#opcoes > span {
    font-size: 40px;
}
#opcoes > span:hover {
    color: var(--cor5);
}
menu {
    display: none;
    background-color: var(--cor1);
    border-radius: 10px;
    width: 80vw;
    height: 500px;
    margin: auto;
    margin-top: 20px;
}
menu > ul {
    list-style-type: none;
}
menu  a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 70px 0px;
    transition-duration: 0.1s;
}
menu a:hover {
    color: var(--cor5);
    transform: translate(-2px, -2px);
    transition: .3s;
}
hr {
    width: 50%;
    margin: auto;
    box-shadow: 0px 0px 2px #4442434b;
    margin-bottom: 1em;
}
main {
    border-radius: 5px;
    height: 100%;
    width: 80%;
    margin: auto;
    background-color: white;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.308);
}
main a{
    font-size: 1.2em;
    color: var(--cor1);
    text-decoration: none;
    line-height: 2em;
}
main a:hover{
    border-radius: 5px;
    padding: 5px;
    background-color: var(--cor2);
    color: white;
    text-decoration: none;
}
main li {
    list-style: none;
}
main > h1 {
    margin-top: 20px;
    display: block;
    text-align: center;
    padding: 20px;
}
main > article {
    padding: 0px 20px;
}
main > article p {
    font-size: 1.5em;
    text-indent: 20px;
}
footer {
    background-color: var(--cor4);
    color: var(--cor5);
    margin: auto;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    width: 90vw;
}
footer a {
    color: var(--cor5);
    text-decoration: none;
}